* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Girassol", cursive;
}
body {
  font-size: 1.5rem;
  background: aqua;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
